<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Potato Leaf Information</title>
  <link rel="stylesheet" href="static/styles.css">
  <style>
    body {
      background-color: #5B5F5E;
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      width: 100vw;
      height: 100vh;
      margin: 0;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
    }
  </style>
</head>
<body>
  <h2 id="info">Information</h2>

  <!-- Container 1 -->
  <div class="container1">
    <img class="early_image" width="200" height="200" src="./static/early_blight.JPG" alt="Potato Early Blight Image" />
    <div class="early_cause">
        <h4>Causes:</h4>
        <ul>
            <li>Early blight of potato is caused by the fungus, Alternaria solani.</li>
            <li>Early blight is favored by warm temperatures and high humidity.</li>
            <li>It is found on older leaves first.</li>
        </ul>
    </div>
    <div class="early_prevention">
        <h4>Preventions:</h4>
        <ul>
            <li>Avoid overhead irrigation.</li>
            <li>Do not dig tubers until they are fully mature in order to prevent damage.</li>
            <li>Do not use a field for potatoes that was used for potatoes or tomatoes the previous year.</li>
        </ul>
    </div>
  </div>

  <!-- Container 2 -->
  <div class="container2">
    <img class="late_image" width="200" height="200" src="./static/late_blight.JPG" alt="Potato Late Blight Image" />
    <div class="late_cause">
        <h4>Causes:</h4>
        <ul>
            <li>Late blight of potato is a serious disease caused by Phytophthora infestans.</li>
            <li> It is favored by cool, moist weather and can kill plants within two weeks if conditions are right.</li>
            <li> Late blight is the worst potato disease.</li>
        </ul>
    </div>
    <div class="late_prevention">
        <h4>Preventions:</h4>
        <ul>
            <li>Use disease-free seed potatoes.</li>
            <li>Keep cull/compost piles away from potato growing areas. </li>
            <li>Keep tubers covered with soil throughout the season to prevent tuber infection.</li>
            <li>Kill vines completely before harvest to avoid inoculation of the tubers during harvest. </li>
        </ul>
    </div>
  </div>
</body>
</html>



